<h1 class="text-center">TODO List</h1>

<div class="small-12 medium-6 large-5 columns">
    <h4 class="subheader">What needs to be done?</h4><hr>

    <form class="formTask" name="formTask">
        <label for="formTask--taskName">Task Name</label>
        <input type="text" placeholder="Do Homework" ng-model="name" required>
        <label for="formTask--taskDescription">Task Description</label>
        <input type="text" placeholder="ToDo app" ng-model="description">
        <label for="formTask--date">Due Date</label>
        <input type="date" id="formTask--date" ng-model="dueDate">
        <button type="submit" id="btnAddTask" class="small button alert" ng-click="addTask()" ng-disabled="formTask.$invalid">Add Task</button>
    </form>
</div>

<div class="small-12 medium-6 large-7 columns">
    <h4 class="subheader">Task List</h4><hr>

    <p ng-show="tasksCol.length" class="text-right" ><small><strong>{{ tasksCol.length }}</strong> to go!</small></p>
    <p ng-show="!tasksCol.length" class="text-right"><small><strong>NO</strong> pending tasks</small></p>

    <ul id="todoList" class="tasks">
        <li id="todoList__Task-{{$index}}" class="todoList__Task" ng-repeat="item in tasksCol | orderBy:null:true" data-status="{{ item.done }}">
            <!-- <div class="switch tiny todoList__Task--done">
                <input ng-click="setDone($index)" class="switch-input" id="taskDone-{{ $index }}" type="checkbox">
                <label class="switch-paddle" for="taskDone-{{ $index }} ">
                        <span class="show-for-sr">Done</span>
                </label>
            </div> -->

            <h2><a href="#/description/{{ item.id }}" class="todoList__Task--name">{{ item.name }}</a></h2>

            <!-- <small class="todoList__Task--date float-right"><strong><span class="fi-calendar small"></span> Due Date</strong>: {{ item.dueDate | date: "MM/dd/yyyy"}}</small> -->

            <!-- <p>{{ item.description }}</p> -->
        </li>
    </ul>

    <!-- <button id="btnClearTasks" ng-click="clearDoneTasks()" class="small button float-right">Clear Completed Tasks</button> -->
</div>