<div class="small-12 columns">
    <h4 class="subheader descriptionSubheader">{{ item.name }}</h4><hr>

    <p>{{ item.description }}</p>

    <p><small class="todoList__Task--date "><strong><span class="fi-calendar small"></span> Due Date</strong>: {{ item.dueDate | date: "MM/dd/yyyy"}}</small></p>

    <div class="switch tiny todoList__Task--done">
         <input ng-click="setDone($index)" class="switch-input" id="taskDone-{{ $index }}" type="checkbox">
         <label class="switch-paddle" for="taskDone-{{ $index }} ">
         <span class="show-for-sr">Done</span>
         </label>
    </div>

    <a href="#/" class="small button float-right">Return Home</button>
</div>