<h1 class="text-center">TODO List</h1>

<div class="small-12 medium-6 large-5 columns">
    <h4 class="subheader">What needs to be done?</h4><hr>

    <form class="taskForm" name="taskForm">
        <label for="taskForm--taskName">Task Title:</label>
        <input type="text" placeholder="Do Homework" name="taskName" ng-model="name" required>
        <small class="error" ng-show="taskForm.taskName.$touched && taskForm.taskName.$invalid">The name is required.</small>
        <textarea type="text" placeholder="Task Description" ng-model="description" rows="4" cols="50"></textarea>
        <label for="taskForm--date">Due Date:</label>
        <input type="date" id="taskForm--date" ng-model="dueDate">
        <button type="submit" id="btnAddTask" class="small button alert" ng-click="addTask()" ng-disabled="taskForm.$invalid">Add Task</button>
    </form>
</div>

<div class="small-12 medium-6 large-7 columns">
    <h4 class="subheader">Task List</h4><hr>
    
        <form action="" id="frmBuscar" class="col-xs-2">
            <div class="pull-right">
                <input type="text" id="txtBuscar" class="txt" placeholder="Search Task" ng-model='taskFilter'>
            </div>
        </form>

        <p ng-show="filtered.length" class="text-center" ><small><strong>{{filtered.length}}</strong> to go!</small></p>
        <p ng-show="!filtered.length" class="text-center"><small><strong>NO</strong> pending tasks</small></p>

        <ul id="todoList" class="tasks">
            <li id="todoList__Task-{{ item.id }}" class="todoList__Task" ng-repeat="item in filtered = (tasksCol | orderBy:null:true | filter:taskFilter)" data-status="{{ item.done }}">
                <h2><a href="#/description/{{ item.id }}" class="todoList__Task--name"><span class="fi-pencil"></span> {{ item.name }}</a></h2>
            </li>
        </ul>
</div>
