<div class="small-12 columns">
    <h4 class="subheader descriptionSubheader">{{ item.name }}</h4><hr>

    <p ng-show="item.description">{{ item.description }}</p>

    <p ng-show="item.dueDate"><small class="todoList__Task--date "><strong><span class="fi-calendar small"></span> Due Date</strong>: {{ item.dueDate | date: "MM/dd/yyyy"}}</small></p>

    <button class="button small warning" ng-click="DeleteItem()">Delete</button>

    <a href="#/" class="small button float-right">Return Home</button>
</div>